@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.window-loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 500;
}
.window-loader a {
  font-size: 20px;
  margin: 20px 0;
  font-weight: 800;
  color: #333;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}
.window-loader a:nth-child(3) {
  font-size: 14px;
  margin: 0 10px;
  text-align: center;
}

/*  */
/*  */
/*  */

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg) scale(1.5);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

/*  */
/*  */
/*  */
.container {
  width: 100%;
  min-height: 100vh;
  background: url("../image/bg5.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  z-index: 5;
}
.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(0px);
  z-index: 20;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #fff;
  z-index: 50;
}
header h1 {
  font-size: 20px;
  letter-spacing: -0.6px;
}
header p {
  padding: 6px;
  transition: 0.3s ease-in-out;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
header p:hover {
  background: #5c6eb6;
  color: white;
  cursor: pointer;
}

.home-main {
  position: relative;
  width: 600px;
  padding: 10px 15px;
  border-radius: 4px;
  background: #fff;
  z-index: 50;
  transition: 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
#mode {
  position: absolute;
  left: 0;
  display: flex;
  align-items: flex-end;
  top: -35px;
  background: white;
  padding: 10px 17px;
  border-radius: 10px 20px 10px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.version{
  padding: 0 6px;
  font-size: 12px;
  font-style: italic;
  color: #892be2;
}
.helper-desc {
  z-index: 12;
  position: absolute;
  bottom: -45px;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 14px;
  letter-spacing: -0.7px;
  text-transform: capitalize;
  border-radius: 0 0 7px 7px;
  text-align: center;
  margin: 10px 0;
  color: red;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.home-main .word {
  width: 100%;
  height: 200px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-main .word h1 {
  font-size: 52px;
  letter-spacing: -3px;
  color: #36454f;
  text-align: center;
}
.home-main .random-button {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-main .random-button .next-button {
  width: 100%;
  height: 50px;
  background: #5372f0;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transition: 0.3s ease-in-out;
}
.home-main .random-button .next-button:hover {
  background: #5372f0d7;
  cursor: pointer;
}
.home-main .helper-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-main .helper-button .help-button {
  width: 100%;
  height: 50px;
  background: #7bc043;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transition: 0.3s ease-in-out;
}
.home-main .helper-button .help-button:hover {
  background: #5eca05;
  color: black;
  cursor: pointer;
}

.combo-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #aa4a4a;

  padding: 8px 20px;
  border-radius: 4px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
  transition: 0.4s ease-in-out;
}
.combo-div .main-combo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1.2px;
  text-transform: uppercase;
}
.combo-div .combo-num {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.8px;
}

.combo-hide {
  transform: scale(0);
  height: 0;
}

.settings-main {
  width: 600px;
  height: 400px;
  padding: 10px 15px;
  background: #fff;
  z-index: 50;
  border-radius: 4px;
}
.settings-main h1 {
  letter-spacing: -1.7px;
  font-weight: 800;
  margin: 10px 5px;
}
.settings-option {
  width: 100%;
  height: 40px;
  display: flex;
  margin: 10px 0;
  align-items: center;
  justify-content: space-between;
}
.settings-delete {
  padding: 7px 20px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  background-color: white;
  transition: 0.3s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.settings-delete:hover {
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.settings-option h2 {
  font-size: 18px;
  padding: 0 5px;
  letter-spacing: -1px;
}
.settings-option .options-select {
  font-size: 14px;
  letter-spacing: -0.5px;
  padding: 5px 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.info-main {
  width: 600px;
  height: 400px;
  padding: 10px 15px;
  background: #fff;
  z-index: 50;
  border-radius: 4px;
  overflow: auto;
}
.info-main h1 {
  letter-spacing: -1.7px;
  font-weight: 800;
  margin: 10px 5px;
}
.info-main p {
  padding: 5px 5px;
  /* text-align: justify; */
  font-weight: 500;
  font-size: 14px;
  padding-right: 40px;
  letter-spacing: -0.5px;
}
.info-main h3 {
  letter-spacing: -0.5px;
  padding: 5px 5px;
  font-size: 14px;
  font-weight: 600;
}
.info-main h4 {
  letter-spacing: -0.5px;
  padding: 0px 5px;
  font-size: 14px;
  font-weight: 500;
}

.add-main {
  position: relative;
  width: 600px;
  height: 450px;
  background-color: #fff;
  z-index: 50;
  border-radius: 4px;
  padding: 15px 20px;
}
.add-main h1 {
  letter-spacing: -1.7px;
  font-weight: 800;
  margin: 10px 0;
}
.add-main form {
  width: 100%;
  padding: 10px 0;
}
.addition-input {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.addition-input p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}
.addition-input input {
  width: 100%;
  height: 50px;
  padding: 5px 15px;
  border-radius: 4px;
  border: none;
  background-color: #5c6eb645;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.7px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.addWord-button {
  width: 100%;
  height: 60px;
  color: #fff;
  border-radius: 4px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  text-transform: uppercase;
  letter-spacing: -1.2px;
  font-size: 20px;
  font-weight: 700;
  background: #5c6eb6;
  cursor: pointer;
}

.list-main {
  width: 600px;
  height: 450px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  z-index: 50;
  overflow: auto;
  position: relative;
}
.list-main h1 {
  letter-spacing: -1.7px;
  font-weight: 800;
  margin: 10px 0;
}
.lists {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 4px;
  border: none;
  transition: 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.list .list-left-side {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.list-left-side .id {
  font-size: 18px;
  letter-spacing: -0.5px;
  font-weight: 700;
  width: 50px;
  transition: 0.3s ease-in-out;
}
.list-left-side .list-name {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.8px;
  transition: 0.3s ease-in-out;
}
.list .lists-options {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  padding: 8px 10px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.list .trash {
  font-size: 18px;
  color: white;
  background-color: #ee4035;
}
.list .dots-bar {
  font-size: 18px;
  color: white;
  background-color: #892be2;
}
.list .cross-option {
  font-size: 18px;
  color: white;
  background: linear-gradient(45deg, red, #851e3e, red, #851e3e, red, #851e3e);
}

.list .disabledBtn {
  font-size: 18px;
  color: white;
}
.list .activeBtn {
  background-color: #2a4d69;
}

.list .disactiveBtn {
  background-color: #2a4d69;
  opacity: 0.5;
  z-index: 1;
  box-shadow: rgba(255, 255, 255) 0px 0px 0px 2px,
    rgba(255, 255, 255) 0px 4px 6px -1px, rgba(255, 255, 255) 0px 1px 0px inset;
}

.list:hover {
  background-color: #892be2;
  cursor: pointer;
}
.list:hover .list-left-side .id,
.list:hover .list-left-side .list-name {
  color: white;
}
.list:hover .trash {
  color: red;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.list:hover .dots-bar {
  color: blue;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.list:hover .cross-option {
  color: red;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
/* .list:hover .disabledBtn {
  color: #892be2;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
} */

.list .trash:hover {
  color: white;
  background-color: #ee4035;
  box-shadow: rgba(255, 255, 255, 0.61) 0px 5px 15px 0px;
}

.empty-addWord {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  letter-spacing: -1.2px;
  background-color: #892be2be;
}
/* Spinner ----------- */
.spinner-cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.spinner-cont h1 {
  font-size: 20px;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: scale(1.5);
}
#spinner-cont .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: blueviolet;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
#spinner-delete .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: red;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 60;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  opacity: 1;
  padding: 5px;
}
.modal-wrapper .modal {
  width: 600px;
  padding: 10px;
  min-height: 360px;
  border-radius: 4px;
  background-color: #ffffff;
}
.modal .modal-header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #fff;
  z-index: 50;
}
.modal .modal-header h1 {
  font-size: 20px;
  letter-spacing: -0.6px;
}
.modal .modal-header p {
  padding: 5px 7px;
  border: 2px solid white;
  transition: 0.3s ease-in-out;
  font-weight: 700;
}
.modal .modal-header p:hover {
  background: #7a1919;
  color: white;
  cursor: pointer;
}
.modal .modal-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.modal .modal-menu .modal-menu-item {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.3s ease-in-out;
}
.modal .modal-menu .modal-menu-item i {
  font-size: 18px;
  margin-right: 10px;
  color: #36454f;
  transition: 0.3s ease-in-out;
}
.modal .modal-menu .modal-menu-item p {
  font-size: 18px;
  font-weight: 600;
  color: #36454f;
  letter-spacing: -1.2px;
  transition: 0.3s ease-in-out;
}
.modal .modal-menu .modal-menu-item:hover {
  background: #892be2ea;
  cursor: pointer;
}
.modal .modal-menu .modal-menu-item:hover i {
  color: #fff;
  transform: scale(1.05);
}
.modal .modal-menu .modal-menu-item:hover p {
  letter-spacing: -0.8px;
  transform: scale(1.05);
  cursor: pointer;
  font-weight: 600;
  color: #fff;
}

.modal-hide {
  transform: scale(0);
  opacity: 0;
}

@media (max-width: 600px) {
  .home-main .word h1 {
    letter-spacing: -0.5px;
  }
  .home-main .word h1 {
    font-size: 32px;
  }
  .info-main h1 {
    font-size: 18px;
  }
  .info-main p {
    padding: 0;
  }
  .home-main .word {
    height: 100px;
  }
  .settings-option h2 {
    font-size: 14px;
  }
  .settings-option #test-language-select {
    font-size: 14px;
    padding: 5px 10px;
  }
  .settings-main h1 {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .add-main h1 {
    font-size: 24px;
  }
  .addWord-button {
    font-size: 16px;
  }
  .list-main h1 {
    font-size: 18px;
  }
  .list-left-side .id {
    display: none;
  }
  .info-main p {
    text-align: justify;
  }
}
@media (max-width: 400px) {
  .list-left-side .list-name {
    font-size: 14px;
  }
  .list .trash {
    font-size: 14px;
    padding: 6px 8px;
  }
}
.hide {
  display: none;
}
